<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>edu.stanford.MyHeartCounts.SensorKitProcessing</string>
		<string>edu.stanford.MyHeartCounts.AppRefresh</string>
		<string>edu.stanford.spezi.scheduler.notifications-scheduling</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>0.0.0.0</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSSensorKitUsageDetail</key>
	<dict>
		<key>SRSensorUsageAmbientLightSensor</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsageDeviceUsage</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsageECG</key>
		<dict>
			<key>Description</key>
			<string>SENSORKIT_USAGE_DESC_ECG</string>
		</dict>
		<key>SRSensorUsageElevation</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsageHeartRate</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsageMotion</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsagePPG</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsagePedometer</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsageVisits</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
		<key>SRSensorUsageWristDetection</key>
		<dict>
			<key>Description</key>
			<string>SENSORKIT_USAGE_DESC_ON_WRIST</string>
		</dict>
		<key>SRSensorUsageWristTemperature</key>
		<dict>
			<key>Description</key>
			<string>My Heart Counts uses [_] Data to TODO TODO TODO</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
</dict>
</plist>
