<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array/>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.sensorkit.reader.allow</key>
	<array>
		<string>on-wrist</string>
		<string>ambient-light-sensor</string>
		<string>motion-accelerometer</string>
		<string>visits</string>
		<string>pedometer</string>
		<string>device-usage</string>
		<string>ECG</string>
		<string>PPG</string>
		<string>ambient-pressure</string>
		<string>heart-rate</string>
		<string>wrist-temperature</string>
	</array>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
</dict>
</plist>
