[submodule "MyHeartCounts-Firebase"]
	path = MyHeartCounts-Firebase
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-Firebase.git
[submodule "MyHeartCounts-StudyDefinitions"]
	path = MyHeartCounts-StudyDefinitions
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-StudyDefinitions.git
